<div class="card m-5">
    <div class="card-header bg-secondary p-3">
        <h1>Invoice <i class="bi bi-receipt"></i></h1>
    </div>
    <div class="card-body p-3">
        <div class="row g-3">
            <div class="col-8">
                <label for="invoice-id" class="form-label">ID</label>
                <input type="text" name="invoice-id" id="invoice-id" class="form-control ps-3"
                    [placeholder]="id" readonly>
            </div>

            <div class="col-4">
                <label for="invoice-date" class="form-label">Date</label>
                <input type="text" name="invoice-date" id="invoice-date" class="form-control"
                    [value]="date | date: 'dd-MMM-yyyy'" readonly>
            </div>
        </div>

        <div class="row g-3 mt-1">

            <div class="col-4">
                <label for="invoice-by" class="form-label">By</label>
                <input type="email" name="invoice-by" id="invoice-by" class="form-control" value="Ameyaa Sri Sesha Sai Chivukula" readonly>
            </div>
            <div class="col-8">
                <label for="invoice-to" class="form-label">To</label>
                <input type="text" name="invoice-to" id="invoice-to" class="form-control" required>
            </div>

        </div>

    </div>
</div>