<form action="" method="get">
    <div class="card m-3">
        <div class="card-header">
            <h1>Invoice-Bill</h1>
        </div>
        <div class="card-body">
            <div class="input-group">
                <label for="invoice-id" class="input-group-text">ID</label>
                <input type="text" name="invoice-id" id="invoice-id" class="form-control" placeholder="Enter ID">
            </div>

            <label for="invoice-issue-date">Date</label>
            <input type="date" name="invoice-issue-date" id="invoice-issue-date" class="form-control">
            <label for="invoice-due-date">Due Date</label>
            <input type="date" name="invoice-due-date" id="invoice-due-date" class="form-control">
        </div>
    </div>
</form>
